.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }
  .admin-content {
    width: 100%;
    .admin-header {
      height: 60px;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px 0 10px;
      .left-side {
        font-size: 20px;
        cursor: pointer;
      }
      .right-side {
        display: flex;
        gap: 15px;
      }
    }
    .admin-main {
      height: calc(100vh - 40px);
    }
  }
}
