.questions-container {
  padding: 15px;
  .title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  .questions-content {
    display: flex;
    gap: 30px;
    .description {
      width: 50%;
    }
    .group-upload {
      padding-top: 15px;
      .label-upload {
        color: #9068ff;
        margin-right: 5px;
        cursor: pointer;
        &:hover {
          color: #4400ff;
        }
      }
    }
    .btn-add {
      padding: 15px;
      .icon-add {
        font-size: 28px;
        color: #2596ff;
        cursor: pointer;
        &:hover {
          color: #0989ff;
        }
      }
      .icon-remove {
        margin-left: 10px;
        font-size: 28px;
        color: #e8771c;
        cursor: pointer;
        &:hover {
          color: #ff7608;
        }
      }
    }
  }
  .answers-content {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
    align-items: center;
    .is-correct {
      font-size: 20px;
    }
    .answer-name {
      width: 60%;
    }
    .btn-group {
      .icon-add {
        font-size: 28px;
        color: #2596ff;
        cursor: pointer;
        &:hover {
          color: #0989ff;
        }
      }
      .icon-remove {
        margin-left: 10px;
        font-size: 28px;
        color: #e8771c;
        cursor: pointer;
        &:hover {
          color: #ff7608;
        }
      }
    }
  }
}
