.theme-icon {
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  &:hover {
    background-color: #bec3c9;
  }
}
